/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /**/
  body .content h2 {
    font-size: 25px; }
  body .content .descImg {
    display: none; }
  body .content .descriptionHead {
    height: 110px; }
    body .content .descriptionHead strong {
      font-size: 20px; }
  body .content .descriptionFoot {
    height: 110px; }
    body .content .descriptionFoot strong {
      font-size: 20px; }
  body .content .pluses {
    height: 500px; }
    body .content .pluses ul.circleHead {
      display: none; }
    body .content .pluses .plusesCream {
      display: none; }
    body .content .pluses .marksHead {
      top: 480px; }
    body .content .pluses .form {
      position: relative;
      margin: auto; }
  body .content .plusesFoot ul {
    display: none; }
  header .content .headLogo {
    text-align: center; }
    header .content .headLogo .imgLogoHead {
      display: none; }
  footer .FootLogo {
    text-align: center; }
    footer .FootLogo .imgLogoFoot {
      display: none; }
  section .content .girlModel2 {
    opacity: 0.1; }
  section .content .meter {
    display: none; }
  section .content .creamConcealer {
    text-align: center; }
    section .content .creamConcealer ul {
      padding-left: 10px; }
      section .content .creamConcealer ul li {
        text-align: left;
        float: left;
        height: 100px;
        width: 49%; }
  .weeks2BG .content h2 {
    padding-bottom: 15px; }
  .weeks2BG .content .resultForTheMountImg {
    display: none; }
  section .content .fireFat h2 {
    margin-left: -100px;
    padding-bottom: 10px;
    text-align: center; }
  section .content .fireFat ul {
    margin: 0; }
    section .content .fireFat ul li {
      width: 370px; }
  section .content .girlSect3List {
    display: none; }
  section .fonSect3Girl .girlSect3 {
    left: 360px; }
  section .fonSect4 {
    height: 100px; }
  section .content.sect4 .listSect4 .listSect4N p {
    font-size: 13px; }
  section .content.sect4 .listSect4 .listSect4N:nth-child(1) .listSect4NIg {
    top: 0;
    right: 50px;
    width: 323px;
    height: 111px;
    background-image: url(../img/sect_2-5/sect4List1.png); }
  section .content.sect4 .listSect4 .listSect4N:nth-child(1) .sect4Line {
    top: 140px;
    left: 120px; }
  section .content.sect4 .listSect4 .listSect4N:nth-child(1) h3 {
    top: 100px;
    left: 30px; }
  section .content.sect4 .listSect4 .listSect4N:nth-child(1) p {
    top: 150px;
    right: 80px; }
  section .content.sect4 .listSect4 .listSect4N:nth-child(2) .listSect4NIg {
    top: 0;
    right: 30px;
    width: 278px;
    height: 118px;
    background-image: url(../img/sect_2-5/sect4List2.png); }
  section .content.sect4 .listSect4 .listSect4N:nth-child(2) .sect4Line {
    top: 140px;
    left: 230px; }
  section .content.sect4 .listSect4 .listSect4N:nth-child(2) h3 {
    top: 100px;
    left: 185px; }
  section .content.sect4 .listSect4 .listSect4N:nth-child(2) p {
    top: 150px;
    right: 10px; }
  section .content.sect4 .listSect4 .listSect4N:nth-child(3) {
    bottom: 50px;
    left: 50px; }
    section .content.sect4 .listSect4 .listSect4N:nth-child(3) .listSect4NIg {
      top: 0;
      right: 100px;
      width: 378px;
      height: 180px;
      background-image: url(../img/sect_2-5/sect4List3.png); }
    section .content.sect4 .listSect4 .listSect4N:nth-child(3) .sect4Line {
      top: 220px;
      left: 70px; }
    section .content.sect4 .listSect4 .listSect4N:nth-child(3) h3 {
      top: 170px;
      left: -30px; }
    section .content.sect4 .listSect4 .listSect4N:nth-child(3) p {
      top: 240px;
      right: 111px; }
  section .content.sect4 .listSect4 .listSect4N:nth-child(4) {
    bottom: 0;
    left: 10px; }
    section .content.sect4 .listSect4 .listSect4N:nth-child(4) .listSect4NIg {
      top: 0;
      right: 50px;
      width: 266px;
      height: 174px;
      background-image: url(../img/sect_2-5/sect4List4.png); }
    section .content.sect4 .listSect4 .listSect4N:nth-child(4) .sect4Line {
      top: 220px;
      left: 170px; }
    section .content.sect4 .listSect4 .listSect4N:nth-child(4) h3 {
      top: 170px;
      left: 150px; }
    section .content.sect4 .listSect4 .listSect4N:nth-child(4) p {
      top: 240px;
      right: -20px;
      margin-left: 20px; }
  section .content .sect5 span {
    right: 30px; }
  section .sect5Img {
    background-position: -590px 0; }
  section .sect6Img {
    background-position: -365px 0; }
  section .content .sect6 ul {
    padding-left: 80px; }
  section .content .recList6 {
    display: none; }
  section .content .ticketSect6 {
    display: none; }
  section .fonSect7 {
    height: 400px; }
    section .fonSect7 .fonSect7Color {
      height: 400px; }
    section .fonSect7 .fonSect7Img {
      display: none; }
  section .sect7 {
    height: 400px; }
    section .sect7 ul li {
      width: 240px;
      font-size: 14px; }
      section .sect7 ul li .imgListSect7 {
        top: -80px;
        left: 80px; }
      section .sect7 ul li:nth-child(1) {
        top: 90px;
        left: 0; }
      section .sect7 ul li:nth-child(2) {
        top: 200px;
        left: 60px; }
      section .sect7 ul li:nth-child(3) {
        width: 220px;
        top: 80px;
        left: 230px; }
      section .sect7 ul li:nth-child(4) {
        width: 140px;
        top: 230px;
        left: 400px; }
        section .sect7 ul li:nth-child(4) .imgListSect7 {
          left: 40px; }
      section .sect7 ul li:nth-child(5) {
        top: 60px;
        left: 500px; }
  section .content .sect8 {
    background: none;
    height: 450px; }
    section .content .sect8 .textSect8 {
      top: 60px;
      left: 100px; }
  section .sect9 h2 {
    padding-bottom: 30px; }
  section .sect9 .girls9S {
    width: 100%;
    padding: 0;
    height: 550px;
    border-bottom: 1px solid #CACACA;
    padding-top: 20px; }
  section .sect10Fon {
    height: 630px;
    -webkit-background-size: cover;
            background-size: cover; }
  section .sect10 ul {
    margin-left: 30px;
    padding-top: 20px; }
    section .sect10 ul li {
      margin: 0; }
      section .sect10 ul li:nth-child(4) {
        margin: 0; }
  section .sect11 ul {
    margin-left: -60px; }
    section .sect11 ul li p {
      font-size: 14px;
      width: 200px; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /*Disable Animation on Mobile Devices*/
  .animated {
    /*CSS transitions*/
    -o-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms*/
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations*/
    -webkit-animation: none !important;
    animation: none !important; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /**/ }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/ }

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/ }
